@tailwind base;
@tailwind components;
@tailwind utilities;
.menu-scroll-x {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.menu-scroll-x::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* @font-face {
    font-family: vazirmatn;
    src: url("/src/assest/fonts/Vazir-Variable.woff2");
}
.body{
    font-family: vazirmatn;
} */